body{
    background-color: lightgrey;
}
.image1{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav li{
    padding-right: 12px;
}
.sidebar_icon{
    width: 60px; 
    margin-top: -15px;
    background-color: white; 
    color: grey;
     font-size: 22px;
    
}
.white_box{
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.white_box h4{
    padding-top: 10px;
}
.white_box h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .progress{
    padding-top: 10px;
} */
.sidebar_icon div{
    
    text-align: center;
    margin-top: 15px;
}
/* .col-md-1{
    padding: 0;
} */
.image{
    width: 30px; 
    height: 30px;
    border-radius: 15px;
    margin-top: 40px;

    
}

.image_cont{
    width: 60px;
    height: 120px;
    background-color: rgb(228, 228, 238);
    margin-bottom: 0;
}