body{
    background-color: lightgrey;
}
.container-fluid{
    width: 100%;
    overflow-x: hidden;
}
sup{
    font-size: 6px;
    /* position: relative;
    bottom: 100px; */
}
.image1{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav li{
    padding-right: 12px;
}
.col-md-1{
    height: auto;
}
.sidebar_icon{
    height: 600px;
    width: 60px; 
    margin-top: -15px;
    background-color: white; 
    color: grey;
     font-size: 22px;   
}

.col-md-4{
    margin-top: 10px;
}
.first_row{
    margin-top: 40px;
    margin-right: 10px;
}
.second_row{
    margin-right: 10px;
    margin-top: 20px;
}
.white_box{
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.white_box h4{
    padding-top: 10px;
    font-size: 19px;
    color: rgb(102, 101, 101);
}
.white_box h2{
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: 16px; */
    color: rgb(82, 81, 81);
}
.forty_five{
    text-align: center;
    position: relative;
    top: 10px;
    color: rgb(252, 167, 10);
}
.eighty_five{
    text-align: end;
    padding-right: 20px;
    position: relative;
    top: 10px;
    
    /* margin-left: 250px; */
    color: rgb(250, 89, 60);
}
.sixty{
    text-align: center;
    margin-left: 100px;
    position: relative;
    top: 10px;
    color: green;
}
/* .progress{
    padding-top: 10px;
} */
.sidebar_icon div{
    
    text-align: center;
    margin-top: 15px;
}
/* .col-md-1{
    padding: 0;
} */
.image{
    width: 30px; 
    height: 30px;
    border-radius: 15px;
    margin-top: 40px;

    
}

.image_cont{
    width: 60px;
    height: 120px;
    background-color: rgb(228, 228, 238);
    margin-bottom: 0;
}
.box1{
    background-color:#0b93f9;
    padding: 0;
    padding-bottom: 70px;
    padding-left: 15px;
    box-sizing: border-box;

}
.box2{
    background-color: rgb(6, 6, 104);
    height: 120px;
}
.blue_clock{

    height: 150px !important;
   
}
.first_box{
    padding: 0;
    height: 300px;
    background-color: white;
}
.third_box{
    padding: 0;
    height: 300px;
    background-color: white;
}

.user{
    width: 100px;
    height: 100px;
    /* margin-left: 120px; */
}
.user1{
    text-align: center;
    position: relative;
    bottom: 40px  !important;
}
.users{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    align-self: center;

    
}
.blue_box{
    background-color: navy;
    text-align: center;
    padding: 3px;
    color:navy;
    
    
}
.second_row h5,p{
    color: white;
    margin-top: 10px;
}
.green_box{
    background-color: green;
    text-align: center;
    padding: 5px;
    color: green;
}
.orange_box{
    background-color: rgb(255, 115, 0);
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    color: rgb(255, 115, 0);
}
.red_box{
    background-color: rgb(248, 51, 16);
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    color: rgb(248, 51, 16);
}

.clock_image{
   margin-bottom: 20px !important;
   text-align: center;
   position: relative;
   bottom: 50px;
}
/* .black_text {
padding: 0;
position: relative;
bottom: 40px;
} */
.justify{
    visibility: hidden;
}
@media (max-width:) {
    .eighty_five{
        margin-left: 200px;
    }
    
}
@media (max-width:425px) {
    .col-10{
        margin-left: 20px;
        /* padding-left: 20px; */
    }
}
@media (max-width:790px){
    .content{
        padding-left: 40px;
    }
}
@media (max-width: 768px) {
    .colored_boxes h5{
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    .justify{
        visibility: visible;
    }
}